body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #eef2f3;
    color: #eef2f3;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.translate-buttons {
    margin: 20px 0;
    text-align: center;
}
.translate-button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}
.translate-button:hover {
    background-color: #218838;
}
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #007bff;
    margin-bottom: 10px;
}
/* Estilos do menu */
.menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    padding: 7px 0;
    border-radius: 18px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #000000;
}
p, ul {
    margin-bottom: 15px;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #666;
    background-color: #f8f9fa;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
